<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="posts">Articles</a>
    </li>
  </ul>
  <ul class= "nav navbar-nav navbar-right">
    <li routerLinkActive= "active" class="nav-item" *ngIf="!is_auth">
      <a class="nav-link" routerLink="auth/signin">Se connecter</a>
    </li>
    <li routerLinkActive= "active" class="nav-item" *ngIf="!is_auth">
      <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
    </li>
    <li class="nav-item" *ngIf="is_auth">
      <a class="nav-link" (click)="on_sign_out()">Se déconnecter</a>
    </li>
  </ul>
</nav>
