<div class="row">
  <div class="col-x2-12">
    <h2>Créer un post</h2>
    <form [formGroup]='post_form' (ngSubmit)="on_save_post()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName= "title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="textarea" id="description" class="form-control" formControlName= "description">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="post_form.invalid">Enregistrer</button>
    </form>
  </div>
</div>
