<div class="row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
      <div class="row">
        <div class="list-group col-xs-12">
          <button class="list-group-item"
                  *ngFor="let post of posts; let i = index"
                  (click)="on_show_post(i)">

            <h3 class="list-group-item-heading">
              {{ post.title }}
              <button class="btn btn-default pull-right" (click)="on_remove_post(post)">
                <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
              </button>

            </h3>
            <p class="list-group-item-text">{{ post.description }}</p>

          </button>
        </div>
      </div>

    <button class="btn btn-primary" (click)="on_new_post()">Nouveau post</button>
  </div>
</div>
