<div class="row">
  <div class="col-md-8 offset-2">
    <h2>Connexion</h2>
    <form [formGroup]="sign_in_form" (ngSubmit)="on_submit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class= 'form-control' formControlName= 'email'>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class= 'form-control' formControlName= 'password'>
      </div>
      <button class='btn btn-primary' type= 'submit' [disabled]="sign_in_form.invalid">GO</button>
    </form>
    <p>{{error_message}}</p>
  </div>
</div>
